<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.coderap.server.mapper.TestMapper">
    <select id="list" resultType="cn.coderap.server.pojo.Test">
        <!--
        优化：
        1、使用IDEA的Database插件连接数据库，在写sql时有提示；
        2、注意sql末尾不要带分号
        -->
        SELECT * FROM test
    </select>
</mapper>